:local(.menuViewBox) {
  width: 650px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

:local(.title) {
  font-family: Lato;
  color: #333333;
  font-weight: bold;
  display: flex;
  border-bottom: 1px solid #e1e1e1;
}

:local(.menuNav) {
  padding-bottom: 16px;
  margin-top: 16px;
  border-bottom: 1px solid #e1e1e1;
}

:local(.lunchBtn) {
  font-size: 0.875rem;
  font-family: Lato;
  line-height: 1.43;
  text-align: center;
  width: 100px;
  display: inline-block;
  padding: 5px 0px 5px 0px;
  margin-right: 10px;
  border: 1px solid #e1e1e1;
  border-radius: 2px;
  box-sizing: border-box;
}

:local(.dinnerBtn) {
  font-size: 0.875rem;
  font-family: Lato;
  line-height: 1.43;
  text-align: center;
  width: 100px;
  display: inline-block;
  padding: 5px 0px 5px 0px;
  margin-right: 10px;
  border: 1px solid #e1e1e1;
  border-radius: 2px;
  box-sizing: border-box;
}

:local(.dessertBtn) {
  font-size: 0.875rem;
  font-family: Lato;
  line-height: 1.43;
  text-align: center;
  width: 100px;
  display: inline-block;
  padding: 5px 0px 5px 0px;
  margin-right: 10px;
  border: 1px solid #e1e1e1;
  border-radius: 2px;
  box-sizing: border-box;
}
